body {
  font-family: Arial, sans-serif;
}

/* li {
  cursor: pointer;
} */
.completed {
  text-decoration: line-through;
  color: gray;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
